{% extends 'base.html' %}


{% block head %}

{% endblock %}



{% block body %}
<h1>Hello World</h1>


<div id="all_songs">
    <table>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>&#128338</th>
        
        </tr>

        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
</div>

{% endblock %}
